{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      Seu Usuário e senha não batem. Por favor, tente novamente.
    </p>
  {% else %}
    <p>Por favor, use o formulário abaixo para log-in. Caso não tenha uma conta <a href="{% url "register" %}">registre aqui</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Esqceu sua senha?</a></p>
  </div>
{% endblock %}